{% if error %}<p>{{ error }}</p>{% endif %}
{% if back_url %}<p><a href="{{ back_url }}">Back</a></p>{% endif %}
<form method="post" action="{{ this_url }}">
    <dl>
        <dd>
            <label>Title:</label>
            {% if spam %}
                <span>{{ spam.title }}</span>
            {% else %}
                <input type="text" name="title" value="{{ title }}" />
                {% if title_error %}
    			<span>{{ title_error }}</span>
    			{% endif %}
			{% endif %}
        </dd>
        <dd>
            <label>Sub Title:</label>
            <input type="text" name="sub_title" value="{{ sub_title }}" />
        </dd>
        <dd>
            <label>Comment:</label>
            <textarea name="comment" rows="20" cols="50">{{ comment }}</textarea>
            {% if comment_error %}
			<span>{{ comment_error }}</span>
			{% endif %}
        </dd>
        <dd>
            <label>UI Interact:</label>
            <input type="text" name="ui_interact" value="{{ ui_interact }}" />
            {% if ui_interact_error %}
			<span>{{ ui_interact_error }}</span>
			{% endif %}
        </dd>
        <dd>
            <label>Gameplay:</label>
            <input type="text" name="gameplay" value="{{ gameplay }}" />
            {% if gameplay_error %}
			<span>{{ gameplay_error }}</span>
			{% endif %}
        </dd>
        <dd>
            <label>Replicability:</label>
            <input type="text" name="replicability" value="{{ replicability }}" />
            {% if replicability_error %}
			<span>{{ replicability_error }}</span>
			{% endif %}
        </dd>
        <dd>
            <label>Highlight:</label>
            <input type="text" name="highlight" value="{{ highlight }}" />
            {% if highlight_error %}
			<span>{{ highlight_error }}</span>
			{% endif %}
        </dd>
        <dd>
			<label>&nbsp;</label>
			<input type="submit" value="Spam It" name="submit" />
		</dd>
    </dl>
</form>