{% if error %}<p>{{ error }}</p>{% endif %}
<form method="post" action="{{ this_url }}">
    <dl>
        <dd>
            <label>Title:</label>
            {% if spam %}
                <span>{{ title }}</span>
            {% else %}
                <input type="text" name="title" value="{{ title }}" class="text" />
                {% if title_error %}
                {% ifequal title_error 'ok' %}
    			<span class="message success">
    			{% else %}
    			<span class="message errormsg">
    			{% endifequal %}
    			{{ title_error }}</span>
    			{% endif %}
			{% endif %}
        </dd>
        <dd>
            <label>Sub Title:</label>
            <input type="text" name="sub_title" value="{{ sub_title }}" class="text" />
        </dd>
        <dd>
            <label>Comment:</label>
            <textarea name="comment" rows="20" cols="50" class="text">{{ comment }}</textarea>
            {% if comment_error %}
            {% ifequal comment_error 'ok' %}
			<span class="message success">
			{% else %}
			<span class="message errormsg">
			{% endifequal %}
			{{ comment_error }}</span>
			{% endif %}
        </dd>
        <dd>
            <label>UI Interact:</label>
            {% if edit_mode %}
                {{ spam.rating.ui_interact }}
            {% else %}
                <input type="text" name="ui_interact" value="{{ ui_interact }}" class="text" />
                {% if ui_interact_error %}
                {% ifequal ui_interact_error 'ok' %}
    			<span class="message success">
    			{% else %}
    			<span class="message errormsg">
    			{% endifequal %}
    			{{ ui_interact_error }}</span>
    			{% endif %}
			{% endif %}
        </dd>
        <dd>
            <label>Gameplay:</label>
            {% if edit_mode %}
                {{ spam.rating.gameplay }}
            {% else %}
                <input type="text" name="gameplay" value="{{ gameplay }}" class="text" />
                {% if gameplay_error %}
                {% ifequal gameplay_error 'ok' %}
    			<span class="message success">
    			{% else %}
    			<span class="message errormsg">
    			{% endifequal %}
    			{{ gameplay_error }}</span>
    			{% endif %}
    		{% endif %}
        </dd>
        <dd>
            <label>Replicability:</label>
            {% if edit_mode %}
                {{ spam.rating.replicability }}
            {% else %}
                <input type="text" name="replicability" value="{{ replicability }}" class="text" />
                {% if replicability_error %}
                {% ifequal replicability_error 'ok' %}
    			<span class="message success">
    			{% else %}
    			<span class="message errormsg">
    			{% endifequal %}
    			{{ replicability_error }}</span>
    			{% endif %}
			{% endif %}
        </dd>
        <dd>
            <label>Highlight:</label>
            {% if edit_mode %}
                {{ spam.rating.highlight }}
            {% else %}
                <input type="text" name="highlight" value="{{ highlight }}" class="text" />
                {% if highlight_error %}
    			{% ifequal highlight_error 'ok' %}
    			<span class="message success">
    			{% else %}
    			<span class="message errormsg">
    			{% endifequal %}
    			{{ highlight_error }}</span>
    			{% endif %}
			{% endif %}
        </dd>
        <dd>
			<label>&nbsp;</label>
			<input type="submit" value="Spam It" name="submit" class="submit" />
		</dd>
    </dl>
</form>