{% extends '../base.html' %}
{% block header %}
<title>{{ setting.title }} - Spam</title>
{% endblock %}

{% block content %}
<div class="bheader">
    <div class="bheaderl"></div>
    <div class="bheaderr"></div>
    <h2>Spam</h2>
    {% if can_spam %}
    <ul><li class="nobg"><a href="/spam/new">New</a></li></ul>
    {% endif %}
    </div>
<div id="main">
{% if spams %}
    <ol>
    {% for spam in spams %}
        <li>
        <article>
            <header><h2><a href="/spam/{{ spam.key.id}}" title="{{ spam.title|escape }}">{{ spam.title|escape }}</a></h2></header>
            <div>
            <p>
            {{ spam.average_rating|floatformat:1 }} scores by {{ spam.spam_count }} spam{{ spam.spam_count|pluralize }} | spam by {{ spam.user.username }}
            {% if spam.last_spam %} | last: {{ spam.last_spam.username }}{% endif %}
             </p>
            <p></p>
            </div>
        </article>
        </li>
    {% endfor %}
    </ol>
{% endif %}
</div>
{% endblock %}