/* Imports */
@import url("reset.css");

/* Body */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 80%; /* Base font size: 13px */
    background-color: #FBFBFB;
    background: url(/static/img/hld.jpg) repeat-x 0px 0px;
    color: #666;
}

/* Headings */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	text-decoration: none;
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #ccc; color: #fff;}
::selection {background: #ccc; color: #fff;}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/* header nav */
#header {
    padding-top: 20px;
}
#header .hdrl {
    width: 20px;
    height: 50px;
    float: left;
    background: url(/static/img/hdrl.gif) top left no-repeat;
}

#header .hdrr {
    width: 20px;
    height: 50px;
    float: right;
    background: url(/static/img/hdrr.gif) top right no-repeat;
}
#header div.top {
    width: 780px;
    margin: 0 auto;
    color: #999;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    background: url(/static/img/hdr.gif) repeat-x 0px 0px;
}
#header nav {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#header h1 {
	color: #fff;
	float: left;
	margin-right: 80px;
	font-size: 18px;
}
#header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
	height: 50px;
}
#header nav li {
    margin: 0;
    border: 0 none;
    padding: 0;
    float: left; /*For Gecko*/
    display: inline;
    list-style: none;
    position: relative;
    height: 50px;
    padding: 0 10px;
    background: url(/static/img/nsp.gif) center right no-repeat;
    line-height: 50px;
}

/* Root Menu */
#header a {
    color: #999;
    text-decoration: none;
}
#header nav a {
    float: none !important; /*For Opera*/
    float: left; /*For IE*/
    display: block;
    height: auto !important;
    height: 1%; /*For IE*/
    height: 30px;
    padding: 0 10px;
}

#header nav a:hover,
#header nav li:hover a,
#header nav li.iehover a {
    color: #fff;
}
    
#header nav li.active a { color: #ddd; }
#header nav li.active a:hover { color: #fff; }

/* content */
#content {
    width: 780px;
    margin: 0 auto;
}
/* section spam */
#content article {
    background-color: #fff;
    padding: 5px;
}
#content div.bheader {
    height: 54px;
    line-height: 54px;
    background: url(/static/img/bhead.gif) 0 0 repeat-x;
    overflow: hidden;
}
#content div.bheader .bheaderl {
    width: 20px;
    height: 54px;
    float: left;
    background: url(/static/img/bheadl.gif) top left no-repeat;
}

#content div.bheader .bheaderr {
    width: 20px;
    height: 54px;
    float: right;
    background: url(/static/img/bheadr.gif) top right no-repeat;
}
#content div.bheader h2 {
    font-size: 18px;
    font-weight: normal;
    color: #555;
    text-shadow: 1px 1px 0 #fff;
    float: left;
}
#content div.bheader ul {
    float: right;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
    
#content div.bheader ul li {
    display: inline;
    padding: 3px 0;
    padding-left: 20px;
    background: url(/static/img/phs.gif) 7px center no-repeat;
}
    
#content div.bheader ul li.nobg { background: none; }
    
#content div.bheader ul li a {
    text-decoration: none;
    color: #666;
    outline: none;
}

#content div.bheader ul li.active a { color: #888; }
#content div.bheader ul li a:hover { color: #008ee8; }

/* Main */
#content div#main {
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#content div#main article.spam {
    border-bottom: 1px solid #ccc;
    text-shadow: 1px 1px 0 #fff;
}
#content div#main article.spam dl dt.subtitle {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px 5px 0px;
    height: 20px;
    line-height: 20px;
}
#content div#main article.spam dl dd.username {
    color: #C4C4C4;
    margin: 5px 0px 15px;
}
#content div#main article.spam dl dd.comment {
    padding: 15px 0px;
}
#content div#main article.spam dl dd.updated_at {
    color: #C4C4C4;
}
#content div#main article.spam dl dt.subtitle h3 {
    float: left;
    font-size: 14px;
}
#content div#main article.spam dl dd.username p {
    float: left;
    font-size: 12px;
    margin: 0;
}
#content div#main article.spam dl dt.subtitle ul,
#content div#main article.spam dl dd.username ul {
    float: right;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
#content div#main article.spam dl dt.subtitle ul li,
#content div#main article.spam dl dd.username ul li {
    display: inline;
    padding: 3px 0;
    padding-left: 20px;
    background: url(/static/img/phs.gif) 7px center no-repeat;
}
#content div#main article.spam dl dt.subtitle ul li.nobg,
#content div#main article.spam dl dd.username ul li.nobg {
    background: none;
}   
#content div#main article.spam dl dt.subtitle ul li a,
#content div#main article.spam dl dd.username ul li a {
    text-decoration: none;
    color: #666;
    outline: none;
}
#content div#main article.spam dl dt.subtitle ul li.active a,
#content div#main article.spam dl dd.username ul li.active a { color: #888; }
#content div#main article.spam dl dt.subtitle ul li a:hover,
#content div#main article.spam dl dd.username ul li a:hover { color: #008ee8; }

#content div#main form label {
    font-size: 12px;
    font-weight: bold;
    color: #555;
    margin-right: 10px;
    vertical-align: middle;
}
#content div#main form input.text,
#content div#main form textarea.text {
    width: 410px;
    background: #fefefe;
    border: 1px solid #bbb;
    font-size: 14px;
    color: #333;
    padding: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    vertical-align: middle;
}
/* footer */
#footer {
    border-top: 1px solid #ccc;
    padding: 10px 0px 50px 0px;
    margin-top: 50px;
}

#footer div.bottom {
    width: 780px;
    margin:0 auto;
}

#footer div.bottom p.left {
    float: left;
}

#footer div.bottom p.right {
    float: right;
}