<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <meta name="Author" content="Jie Ma" />
</head>

<body>
    <header id="header">
        <div class="top">
        <div class="hdrl"></div>
        <div class="hdrr"></div>
        <h1>{{ setting.title }}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if user %}
                <li><a href="/signout">Sign Out</a></li>
                {% else %}
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/signin">Sign In</a></li>
                {% endif %}
                <li><a href="/spam">Spam</a></li>
            </ul>
        </nav>
        </div>
    </header>
    
    <section id="content">
        {% block content %}{% endblock %}
    </section>

    <footer id="footer">
        <div class="bottom"><p class="left">bitsable</p><p class="right"><img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
alt="Powered by Google App Engine" /></p></div>
    </footer>
</body>
</html>