{% extends 'base.html' %}
{% block header %}
<title>{{ setting.title }} - Sign Up</title>
{% endblock %}

{% block content %}
<div class="bheader">
    <div class="bheaderl"></div>
    <div class="bheaderr"></div>
    <h2>Join Us</h2>
</div>
<div id="main">
    {% if notice %}
    <span class="error">{{ notice }}</span>
    {% endif %}
    <form method="post" action="/signup">
    	<dl class="signup">
    		<dd>
    			<label>Username</label>
    			<input type="text" name="username" value="{{ username }}" autocomplete="off" class="text" />
    			{% if username_error %}
    			{% ifequal username_error 'ok' %}
    			<span class="message success">
    			{% else %}
    			<span class="message errormsg">
    			{% endifequal %}
    			{{ username_error }}</span>
    			{% endif %}
    		</dd>
    		<dd>
    			<label>Email</label>
    			<input type="text" name="email" value="{{ email}}" autocomplete="off" class="text" />
    			{% if email_error %}
    			{% ifequal email_error 'ok' %}
    			<span class="message success">
    			{% else %}
    			<span class="message errormsg">
    			{% endifequal %}
    			{{ email_error }}</span>
    			{% endif %}
    		</dd>
    		<dd>
    			<label>Password</label>
    			<input type="password" name="password" value="" class="text" />
    			{% if password_error %}
    			<span class="message errormsg">{{ password_error }}</span>
    			{% endif %}
    		</dd>
    		<dd>
    			<label>&nbsp;</label>
    			<input type="submit" value="Create my account" name="submit" />
    		</dd>
    	</dl>
    </form>
</div>
{% endblock %}