{% extends 'base.html' %}
{% block header %}
<title>{{ setting.title }} - Sign In</title>
{% endblock %}

{% block content %}
<div class="bheader">
    <div class="bheaderl"></div>
    <div class="bheaderr"></div>
    <h2>Log In</h2>
</div>
<div id="main">
    {% if notice %}
    <div class="message notice"><p class="message errormsg">{{ notice }}</p></div>
    {% endif %}
    <form method="post" action="/signin">
    	<dl class="signin">
    		<dd>
    			<label>Username</label>
    			<input type="text" name="username" value="" autocomplete="off" class="text" />
    		</dd>
    		<dd>
    			<label>Password</label>
    			<input type="password" name="password" value="" class="text" />
    		</dd>
    		<dd>
    			<label>&nbsp;</label>
    			<input type="submit" value="Log in" name="submit" />
    		</dd>
    	</dl>
    </form>
</div>

{% endblock %}